<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: 'logo' %> #alr属付け足す
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'sururiとは？', about_path %></li>
      </ul>
    </nav>
  </div>
</header>
